<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> About this site
    </div>
    <div class="card-body">
      <p>This site is simply frontend for temperature monitoring on my Dacha. Sensors like DHT-22 jon my Arduino Uno uses for monitoring.
        I also use Java SE stach on my backend (Spring + Hibernate + Postgres + Glassfish Server. The code of my app is fully open. You canwrite me to examine that.</p>


      </div>
    </div>
  </div>

