<head th:fragment="head">
    <meta charset="UTF-8">
    <title>RUNET-ID PAY powered by apibank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/fileinput.min.css">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">

    <link rel="shortcut icon" type="img/png" href="img/fav.png"/>

    <style>
        .hidden {
            display: none;
        }

        .error {
            font-size: large;
            font-weight: bold;
            color: darkred;
        }
    </style>
</head>