.logo {
    margin: 45px auto 55px auto;
    display: flex;
    justify-content: space-between;
    max-width: 820px;
    padding: 0 20px;
}

.footer {
    font-family: Helvetica;
    border-top: 1px solid #E5E5E5;
    padding-top: 30px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #E5E5E5;
    max-width: 980px;
    margin: 0 auto;
}

.md-form .form-control[readonly] {
    opacity: .5;
}

.series {
    margin-right: 16px;
}

.hidden {
    visibility: hidden;
}

html, body{
    background: #2A287A;
    box-sizing: border-box;
    font-family: Helvetica;
    /*height: 100%*/;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_open_card, #to-runet {
    width: 100%;
    max-width: 320px;
}
.spinner-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}
.spinner-title {
    margin-bottom: 50px;
    line-height: 32px;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
}
.card {
    max-width: 780px;
    margin: 0 auto;
}
.runet-id {
    line-height: 22px;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #524EE2;
    margin-bottom: 47px;
}
.card-header {
    background: #524EE2;
}
.check-passport{
    padding: 72px 100px;
}
.dropzone {
    height: 72px;
    min-height: 72px;
    text-align: center;
}
#drag-drop {
  width: 100%;
  z-index: 100;
  opacity: 0;
  position: relative;
  cursor: pointer;
}
.upload-icon {
    position: absolute;
    right: 40px;
    top: 25px;
}
.file-preview {
    padding: 0;
    border: 0;
}
.file-drop-zone {
    height: 72px;
    border: 1px dashed #7775D9;
    margin: 0;
}
.passport-success .file-drop-zone {
    height: 105px;
}
.passport-success .file-drop-zone-title{
    padding: 40px 0 0 0;
}
.passport-success .upload-icon{
    right: 50%;
    top: 15px;
}

.passport-success {
    margin-top: 8px;
    position: relative;
}

.file-drop-zone-title {
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: #727272;
    padding: 23px 0 0 0;
}
.file-preview .fileinput-remove {
    display: none;
}
.file-caption-main {
    display: none;
}
.krajee-default.file-preview-frame {
  margin: 0;
  height: 60px;
  display: flex;
}
.krajee-default.file-preview-frame .kv-file-content {
    height: 45px;
    margin-right: 8px;
    width: 100%;
}
.krajee-default .file-caption-info, .krajee-default .file-size-info {
    width: 100%;
}
.krajee-default .file-footer-buttons {
    display: none;
}
.warning {
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #727272;
}

.refill {
    line-height: 22px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #727272;
}


.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actions input, .waves-input-wrapper {
    max-width: 300px;
    /* margin-left: 11px; */
    /* margin-right: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.actions .waves-input-wrapper:first-child {
    margin-bottom: 30px;
}

.tooltip-info {
    position: absolute;
    right: 0;
    top: 12px;
}
input {
   width: 100%;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #7775D9;
}
.tooltip-inner {
    background: #7775D9;
    box-shadow: 0 0 8px rgba(82, 78, 226, 0.31);
    border-radius: 4px;
}
.error-title {
    line-height: 32px;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
    margin: 47px 0 12px 0;
}
.error-subtitle {
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 21px;
}
.pass-title {
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #524EE2;
}
.upload-warn {
    line-height: 16px;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #000000;
}
.notify {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #F21E50;
    border-radius: 3px;
    padding: 29px 17px 20px 35px;
    margin-bottom: 40px;
    position: relative;
}
.notify svg {
    position: absolute;
    left: 5px;
}
.max-width {
    max-width: 260px;
}
.notify span {
    line-height: 16px;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #000000;
    max-width: 462px;
    margin-left: 24px;
}
.btn-submit {
    background: #524EE2;
    box-shadow: 0px 4px 8px rgba(54, 123, 245, 0.24);
    border-radius: 4px;
}
.btn-return {
    background: #FFFFFF;
    border: 1px solid #367BF5;
    box-sizing: border-box;
    border-radius: 4px;
    color: #367BF5;
}
.spinner-border {
    width: 48px;
    height: 48px;
    border: .25em dashed #aaa;
    color: black;
    border-right-color: #eee;
}
@media screen and (max-width: 768px){
    .check-passport {
        padding: 36px 50px;
    }

    .max-width {
        max-width: 100%;
    }
}
@media screen and (max-width: 425px){
    .waves-input-wrapper {
        width: 100%;
    }
    #to-runet, #btn_open_card {
        max-width: 100%;
    }
    .waves-input-wrapper input {
        width: 100%;
    }
    .check-passport {
        padding: 18px 25px;
    }
}
@media screen and (max-width: 375px) {
    .check-passport {
        padding: 9px 18px;
    }
}
@media screen and (max-width: 320px) {
    .check-passport {
        padding: 15px;
    }
    #btn_open_card {
        padding: .84rem .5rem;
    }
}
