<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
    <title>СТАТИСТИКА</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
</header>
<body>

<h1>Здесь должна быть статистика</h1>

<form action="virtual_card" method="get">

    <table>
        <tbody>
        <tr>
            <td><label>Колличество открытых счетов: </label></td>
            <td width="60px">&nbsp;</td>
            <td><input type="text" name="allclients" style="text-align:center;" th:value="${allclients}"/></td>
        </tr>
        <tr>
            <td><label>Колличество транзакций всего </label></td>
            <td>&nbsp;</td>
            <td><input type="text" name="alltransactions" style="text-align:center;" th:value="${alltransactions}"/></td>
        </tr>
        <tr>
            <td><label>Общая сумма транзакций: </label></td>
            <td>&nbsp;</td>
            <td><input type="text" name="sum" style="text-align:center;" th:value="${sum}"/></td>
        </tr>
        </tbody>
    </table>
</form>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>