<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h2>Это иммитация запроса с сайта партнёра на перевод денег</h2>

<form action="../p2p" method="get">
    <div>
        <label>RUNET-ID</label>
        <input type="text" name="runet-id" value="123456789"/><br/>
    </div>
    <div>
        <label>Partner</label>
        <input type="text" name="Partner" value="RIF"/><br/>
    </div>

    <div>
        <label>Service</label>
        <input type="text" name="Service" value="registerorderfromcardtocard"/><br/>
    </div>
    <div>
        <label>ToEAN</label>
        <input type="text" name="ean" value="1001005863255"/><br/>
    </div>
    <div>
        <label>Amount</label>
        <input type="text" name="amount" value="100"/><br/>
    </div>
    <div>
        <label>ReturnUrl</label>
        <input type="text" name="url" value="http://yandex.ru"/><br/>
    </div>
    <div>
        <input type="submit" value="Перевести деньги на карту"/>
    </div>
</form>

</body>

</body>
</html>