<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
</head>
<body>
<h2>Это имитация запроса с сайта партнёра</h2>

<form action="virtual_card" method="get">
    <div>
        <label>RUNET-ID</label>
        <input type="test" name="RUNET-ID" value="1396097"/><br/>
    </div>

    <div>
        <label>Телефон</label>
        <input type="text" name="PHONE"    value="9997152413"/><br/>
    </div>
    <div>
        <label>Страница редиректа в случае успеха</label>
        <input type="text" name="URL" value="http://yandex.ru"/><br/>
    </div>
    <div>
        <input type="submit" value="Открыть карту"/>
    </div>
</form>
</body>
</html>